.header {
    padding: 96px 0 77px;
    background-color: var(--white);
}

.header__title {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    
    color: var(--black);
}