.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    padding: 30px 24px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.card__preview {
    display: flex;
    height: 266px;
    justify-content: center;
    align-items: center;
}

.card__image {
    object-fit: contain;
}

.card__title {
    margin: 0;
    padding-top: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}

@media screen and (max-width: 1023px) {
    .card {
        width: 163px;
        padding: 0;
        border-radius: 8px;
    }

    .card__preview {
        height: 164px;
        border-bottom: 1px solid var(--grey-2);
    }

    .card__image {
        width: 90%;
        object-fit: contain;
    }
    .card__title {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 0;
    }
}