.footer {
    display: flex;
    padding: 71px 16px 136px;
}
.footer__wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 640px;
}
.footer__title {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    font-weight: 500;
}

.footer__text {
    padding-top: 13px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
}