.footer {
    padding: 71px 0px 136px;
    background-color: var(--white);
    text-align: center;
}

.footer__title {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    font-weight: 500;
    padding-bottom: 32px;
}

.footer__text {
    margin: 0 auto;
    max-width: 640px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
}

.footer_compact {
    padding: 18px 0 56px;
    background-color: var(--grey-bg);
}

.footer__title_compact {
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}