.section {
    background-color: var(--grey-bg);
}

.section_flex {
    flex-grow: 1;
    padding: 68px 0 92px;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);

}

.section__preview {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
}

.section__wrapper-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
}

@media screen and (max-width: 1023px) {

    .section_flex {
        padding: 24px 16px;
    }

    .section__preview {
        gap: 16px;
    }

    .section__wrapper-grid {
        grid-template-columns: auto;
        column-gap: 0;
        height: 100%;
    }
}